#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #D9D7DD;
}

.clock {
  display: flex;
  width: max-content;
  border-radius: 100%;
  background: #ffffff;
  font-family: "Montserrat";
  border: 5px solid white;
  box-shadow: inset 2px 3px 8px 0 rgba(0, 0, 0, 0.1);

}

.wrap {
  overflow: hidden;
  position: relative;
  width: 350px;
  height: 350px;
  border-radius: 100%;
}

.minute,
.hour {
  position: absolute;
  height: 100px;
  width: 6px;
  margin: auto;
  top: -27%;
  left: 0;
  bottom: 0;
  right: 0;
  background: black;
  transform-origin: bottom center;
  transform: rotate(0deg);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.minute {
  position: absolute;
  height: 130px;
  width: 4px;
  top: -38%;
  left: 0;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  transform: rotate(90deg);
}

.second {
  position: absolute;
  height: 90px;
  width: 2px;
  margin: auto;
  top: -26%;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 4px;
  background: #FF4B3E;
  transform-origin: bottom center;
  transform: rotate(180deg);
  z-index: 1;
}

.dot {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 12px;
  height: 12px;
  border-radius: 100px;
  background: white;
  border: 2px solid #1b1b1b;
  border-radius: 100px;
  margin: auto;
  z-index: 1;
}

.form {
  display: flex;
  justify-content: space-between;
  width: 65vw;
}

.input-name, .input-timezone {
  display: flex;
  flex-direction: column;
 
}

input {
  height: 25px;
  padding-left: 3px;
}

.form-btn {
  width: 15%;
  align-self: end;
  border: none;
  background:#f6f6f6

}

.form-btn:hover {
  background: #c3f2c5;
}

.watches-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.Clock_wraper {
  margin: 10px;
  width: 350px;
}

.wathes-head {
  display: flex;
}

.title {
  font-size: 20px;
}

.clock-board {
  display: flex;
}

.clock-remove {
  cursor: pointer;
  align-self: center;
  margin-left: auto;
  border: none;
  border-radius: 6px;
  width: 120px;
  background-color: #f6f6f6;
  padding-top: 2px;
  padding-bottom: 2px;
}

.clock-remove:hover {
 color: #fc1e0e;
 background-color: #f7e2e1;
}

.logo {
  display: flex;
  position: absolute;
  width: 190px;
  height: 190px;
  background-image: url(./img/netologia.png);
  background-repeat: no-repeat;
  background-size: contain;
  top: 33%;
  right:23%;
  z-index: 0;
  
}